# Song Stream Predictions

### Connecting to Snowflake

This script sets up a connection to Snowflake using SQLAlchemy, facilitates query execution through context management, and provides specific functions (get_sodatone_query_dfs and get_sodatone_query_df) tailored for interacting with Snowflake in a Sodatone-specific context. Sodatone is a specialized data analytics platform tailored for the music industry. It provides comprehensive insights into streaming data from major platforms like Spotify and Apple Music. With Sodatone, we can track performance metrics, analyze audience demographics, and leverage predictive analytics to drive date-driven signings

In [2]:
# imports
import sys
import pandas as pd
from io import BytesIO
import numpy as np
sys.path.append('..')
import snowflake
import contextlib
from sqlalchemy import create_engine
from typing import List
from IPython.display import display
# import okta1

import os
from dotenv import load_dotenv
load_dotenv()



# import dodb
pd.options.display.max_columns = None

# WMG Snowflake general
SNOWFLAKE_AUTHENTICATOR="https://wmg.okta.com"
SNOWFLAKE_ACCOUNT="wmg-datalab"

# Sodatone-specific
SNOWFLAKE_SODATONE_ROLE="ENT_OKTA_SNOWFLAKE_DATALAB_ATLANTIC"
SNOWFLAKE_SODATONE_WAREHOUSE="ATLANTIC_SANDBOX_WH_XS"



# --- CONFIG ---
# your okta email
SNOWFLAKE_OKTA_USER = os.getenv("OKTA_EMAIL")
# your okta password
SNOWFLAKE_OKTA_PASSWORD = os.getenv("OKTA_PASSWORD")
def _get_engine(
        role: str,
        warehouse: str,
        user: str = SNOWFLAKE_OKTA_USER,
        password: str = SNOWFLAKE_OKTA_PASSWORD,
        account: str = SNOWFLAKE_ACCOUNT,
        authenticator: str = SNOWFLAKE_AUTHENTICATOR):
    return create_engine(
        _get_engine_url(role, warehouse, user, password, account),
        connect_args={
            # this will open your computer's default web-browser so you can auth with okta
            # then it will redirect to localhost with a token... that token is consumed by
            # the snowflake engine in order to authenticate queries
            # however, the engine needs to be recreated because of context decorator, so
            # sql queries should be grouped into an iterable of multiple statements to
            # prevent annoying window popups
            'authenticator': 'externalbrowser',
        },
    )

def _get_engine_url(role: str, warehouse: str, user: str, password: str, account: str) -> str:
    return (
        'snowflake://{user}:{password}@{account}/?warehouse={warehouse}&role={role}'.format(
            user=user,
            password=password,
            account=account,
            warehouse=warehouse,
            role=role,
        )
    )

@contextlib.contextmanager
def _get_conn(engine):
    conn = engine.connect()
    try:
        yield conn
    finally:
        conn.close()
        engine.dispose()

def _get_role_conn(role: str, warehouse: str):
    return _get_conn(_get_engine(role, warehouse))

def get_results_as_dfs(role: str, warehouse: str, sql_queries: List[str]) -> List[pd.DataFrame]:
    with _get_role_conn(role, warehouse) as conn:
        print(f"Running sql as {role} in warehouse: {warehouse}")
        return [pd.read_sql(x, conn) for x in sql_queries]

def get_sodatone_query_dfs(sql: List[str]):
    # sodatone specific
    return get_results_as_dfs(SNOWFLAKE_SODATONE_ROLE, SNOWFLAKE_SODATONE_WAREHOUSE, sql)
def get_results_as_df(role: str, warehouse: str, sql_query: str) -> pd.DataFrame:
    with _get_role_conn(role, warehouse) as conn:
        print(f"Running sql as {role} in warehouse: {warehouse}")
        return pd.read_sql(sql_query, conn)
    
def get_sodatone_query_df(sql: str):
    # sodatone specific
    return get_results_as_df(SNOWFLAKE_SODATONE_ROLE, SNOWFLAKE_SODATONE_WAREHOUSE, sql)

This query will be used to generate a DataFrame that we will use to train a one-week predictor (a model that predicts the number of streams one week in advance).

In [2]:
query1 = '''WITH joined AS (
  SELECT
    m.ARTIST,
    m.TITLE,
    m.UNIFIED_SONG_ID,
    m.DATE,
    t.RELEASE_DATE,
    m.THIS_DAY,
    m.THIS_WEEK,
    m.DATE - CAST(t.RELEASE_DATE AS DATE) AS DAYS_SINCE_RELEASE,
    (DAYOFWEEK(m.DATE) + 2) % 7 AS day_of_week,
    ROW_NUMBER() OVER(PARTITION BY m.UNIFIED_SONG_ID, m.DATE, t.RELEASE_DATE ORDER BY (SELECT NULL)) AS rn,
    END_OF_WEEK,
    POPULARITY
  FROM
    "SODATONE"."SODATONE"."LUMINATE_DAILY_SONG_METRICS" AS m
  JOIN
    "APP_REACT"."JOHN_S"."FINAL_TRACKS" AS t ON m.UNIFIED_SONG_ID = t.UNIFIED_SONG_ID
  WHERE
    m.METRIC_TYPE = 'Streaming On-Demand Audio'
    AND m.REGION = 'us'
    AND DAYS_SINCE_RELEASE >= 0
    AND DATE > '2024-01-01'
),
EarliestReleases AS (
    SELECT
        UNIFIED_SONG_ID,
        MIN(RELEASE_DATE) AS earliest_release_date
    FROM
        joined
    GROUP BY
        UNIFIED_SONG_ID
),
filtered_joined AS (
    SELECT
        j.*
    FROM
        joined AS j
    JOIN
        EarliestReleases e
    ON
        j.UNIFIED_SONG_ID = e.UNIFIED_SONG_ID
        AND j.RELEASE_DATE = e.earliest_release_date
    WHERE
        rn = 1
),
lag AS (
  SELECT *,
     THIS_DAY AS day_0,
     LAG(THIS_DAY, 1, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_1,
     LAG(THIS_DAY, 2, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_2,
     LAG(THIS_DAY, 3, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_3,
     LAG(THIS_DAY, 4, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_4,
     LAG(THIS_DAY, 5, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_5,
     LAG(THIS_DAY, 6, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_6,
     LEAD(THIS_WEEK, 8, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS target
  FROM filtered_joined
)
SELECT 
    * 
FROM 
    lag
WHERE 
    target IS NOT NULL
    AND END_OF_WEEK = TRUE
ORDER BY 
    UNIFIED_SONG_ID, DATE DESC;'''

This query will be used to generate a DataFrame that we will use to train a three-week predictor (a model that predicts the number of streams a song will have in three weeks).

In [5]:
query2 = '''WITH joined AS (
  SELECT
    m.ARTIST,
    m.TITLE,
    m.UNIFIED_SONG_ID,
    m.DATE,
    t.RELEASE_DATE,
    m.THIS_DAY,
    m.THIS_WEEK,
    m.DATE - CAST(t.RELEASE_DATE AS DATE) AS DAYS_SINCE_RELEASE,
    (DAYOFWEEK(m.DATE) + 2) % 7 AS day_of_week,
    ROW_NUMBER() OVER(PARTITION BY m.UNIFIED_SONG_ID, m.DATE, t.RELEASE_DATE ORDER BY (SELECT NULL)) AS rn,
    END_OF_WEEK,
    POPULARITY
  FROM
    "SODATONE"."SODATONE"."LUMINATE_DAILY_SONG_METRICS" AS m
  JOIN
    "APP_REACT"."JOHN_S"."FINAL_TRACKS" AS t ON m.UNIFIED_SONG_ID = t.UNIFIED_SONG_ID
  WHERE
    m.METRIC_TYPE = 'Streaming On-Demand Audio'
    AND m.REGION = 'us'
    AND DAYS_SINCE_RELEASE >= 0
    AND DATE > '2024-01-01'
),
EarliestReleases AS (
    SELECT
        UNIFIED_SONG_ID,
        MIN(RELEASE_DATE) AS earliest_release_date
    FROM
        joined
    GROUP BY
        UNIFIED_SONG_ID
),
filtered_joined AS (
    SELECT
        j.*
    FROM
        joined AS j
    JOIN
        EarliestReleases e
    ON
        j.UNIFIED_SONG_ID = e.UNIFIED_SONG_ID
        AND j.RELEASE_DATE = e.earliest_release_date
    WHERE
        rn = 1
),
lag AS (
  SELECT *,
     THIS_DAY AS day_0,
     LAG(THIS_DAY, 1, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_1,
     LAG(THIS_DAY, 2, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_2,
     LAG(THIS_DAY, 3, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_3,
     LAG(THIS_DAY, 4, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_4,
     LAG(THIS_DAY, 5, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_5,
     LAG(THIS_DAY, 6, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS day_6,
     // total number of streams from the most recent full week
     THIS_WEEK as week_0,
     // total number of streams from
     LAG(THIS_WEEK, 7, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS week_1,
     LAG(THIS_WEEK, 14, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS week_2,
     LAG(THIS_WEEK, 21, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS week_3,
     LEAD(THIS_WEEK, 22, NULL) OVER(PARTITION BY UNIFIED_SONG_ID ORDER BY DATE ASC) AS target
  FROM filtered_joined
)
SELECT 
    *,
    day_0 + day_1 + day_2 + day_3 + day_4 + day_5 + day_6 AS naive
FROM 
    lag
WHERE 
    target IS NOT NULL
    AND END_OF_WEEK = TRUE
ORDER BY 
    UNIFIED_SONG_ID, DATE DESC'''

In [3]:
df1 = get_sodatone_query_df(query1)
df1

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://wmg.okta.com/app/snowflake/exkab0aaa1IEBMlNX2p7/sso/saml?SAMLRequest=jZJBb%2BIwEIX%2FSuQ9J3ZCVViLUEGhEImyqEBV9eYkJnhx7KzHaei%2FXyeUFXto1Ztlvzfzjd8M706l9N64AaFVjMKAII%2BrTOdCFTHabR%2F8AfLAMpUzqRWP0TsHdDcaAitlRce1Pagn%2FqfmYD1XSAHtHmJUG0U1AwFUsZIDtRndjB%2BXNAoIrYy2OtMSXVm%2BdjAAbqwjvFhyEA7vYG1FMW6aJmh6gTYFjgghmPzETtVKflz0JzfTJ%2FoQk5tW7xROvv5gmwh1%2FoKvsNKzCOhiu13761%2BbLfLGF9R7raAuudlw8yYyvntangGgJSgLP2eWSZYGoHSzl%2BzIM11WtXX1AnfCe55jqQvhRk6mMaqOIk93k1592GXRqpin9Xp2ZM%2BD5HbV9Fe%2FZclfbvvNYrecFvP5YpYh7%2FmSadRmmgDUPFFtktZdkejGJ30%2FirYRob2QRv1gEPZekTd1SQrFbOe8wg300bIOjFUV%2FseM%2BenIUsIYC5PZ5FGuXqKqjwE0bkNF5z2hXXMz%2Bv70Q3zt%2B1i2lfv%2FZLrWUmTv3oM2JbOfxxMGYXcjcn%2FfSSkvmZDjPDccwMUkpW7uDWfW7bQ1NUd4dO76%2F1aP%2FgI%3D&RelayState=63854 to authenticate...
Running sql as ENT_OKTA_SNOWFLAKE_DATALAB_ATLANTIC in warehouse: ATLANTIC_SANDBOX_WH_XS

,artist,title,unified_song_id,date,release_date,this_day,this_week,days_since_release,day_of_week,rn,end_of_week,popularity,day_0,day_1,day_2,day_3,day_4,day_5,day_6,target
0,Young Thug,Hercules,100070,2024-07-11,2016-02-05,15504,104046.0,3079,6,1,True,51,15504,15224.0,15367.0,14891.0,13279.0,14595.0,13974.0,100669
1,Young Thug,Hercules,100070,2024-07-04,2016-02-05,14410,104344.0,3072,6,1,True,51,14410,16173.0,15372.0,14658.0,12695.0,14821.0,15917.0,102646
2,Young Thug,Hercules,100070,2024-06-27,2016-02-05,15979,100850.0,3065,6,1,True,51,15979,15387.0,15061.0,14665.0,12847.0,14473.0,15932.0,103858
3,Young Thug,Hercules,100070,2024-06-20,2016-02-05,15343,103313.0,3058,6,1,True,51,15343,14816.0,14320.0,13438.0,12405.0,14523.0,16005.0,104343
4,Young Thug,Hercules,100070,2024-06-13,2016-02-05,15999,101589.0,3051,6,1,True,51,15999,15412.0,15053.0,13938.0,12305.0,14530.0,16076.0,100850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232615,Kylie Minogue,My Oh My (With Bebe Rexha & To,245207279,2024-07-11,2024-07-11,125551,0.0,0,6,1,True,67,125551,NaN,NaN,NaN,NaN,NaN,NaN,894109
232616,Tiesto & Lucas & Steve,ZENLESS,245214101,2024-07-11,2024-07-02,45169,61607.0,9,6,1,True,53,45169,47136.0,50775.0,62879.0,50048.0,59943.0,74695.0,195923
232617,Tiesto & Lucas & Steve,ZENLESS,245214101,2024-07-04,2024-07-02,27206,NaN,2,6,1,True,53,27206,15107.0,19281.0,NaN,NaN,NaN,NaN,389998
232618,Bizzy Banks,Back In The Mix,245773621,2024-07-11,2024-07-11,1238,NaN,0,6,1,True,35,1238,NaN,NaN,NaN,NaN,NaN,NaN,58350
232619,Conner Smith,Steal My Thunder,245878822,2024-07-11,2024-07-10,49374,NaN,1,6,1,True,61,49374,44945.0,NaN,NaN,NaN,NaN,NaN,903542

In [4]:
df1.to_csv('../csv_files/snowflake_data.csv', index=False)

In [6]:
df2 = get_sodatone_query_df(query2)
df2

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://wmg.okta.com/app/snowflake/exkab0aaa1IEBMlNX2p7/sso/saml?SAMLRequest=jZJBc9owEIX%2Fikc925INKY0GyJiQtO4EQsFhaG%2BLLRwVWXIlOYZ%2FH9mEDj0k05tGem%2F3W70d3hxK4b0wbbiSIxQGBHlMZirnshihp%2FTe%2F4I8Y0HmIJRkI3RkBt2MhwZKUdG4ts9yyf7UzFjPFZKGdg8jVGtJFRhuqISSGWozuopnDzQKCK20sipTAl1YPnaAMUxbR3i25IY7vGdrK4px0zRB0wuULnBECMHkGjtVK%2Fl01h%2FcTO%2FoQ0z6rd4pnHzxxjbh8vQFH2FtTyJDv6Xpwl88rlLkxWfUWyVNXTK9YvqFZ%2Bxp%2BXACMC1BWfg5WBCwDYxUzU7AnmWqrGrr6gXuhHcsx0IV3I2cTEeo2vP8%2B3rF18ve7%2BO6CWEwJ5Orrz8iNdPsMVzCzyaO8tlgU2ziaXqXIW99zjRqM02MqVki2yStuyJR3ycDP%2BqlUUjJFe1%2FDvrX5Bfypi5JLsF2zgvcQO0tdGBQVfgvM2aHPWwJAITJ3WQm5puoGmBjFG5DRac9oV1zPf7%2F6Yf40ve2bHP3%2F8l0oQTPjt690iXY9%2BMJg7C74bm%2F66SUlcBFnOeaGeNiEkI1t5qBdTttdc0QHp%2B6%2FrvV41c%3D&RelayState=54524 to authenticate...
Running sql as ENT_OKTA_SNOWFLAKE_DATALAB_ATLANTIC in warehouse: ATLANTIC_SANDBOX_WH_XS

,artist,title,unified_song_id,date,release_date,this_day,this_week,days_since_release,day_of_week,rn,end_of_week,popularity,day_0,day_1,day_2,day_3,day_4,day_5,day_6,week_0,week_1,week_2,week_3,target,naive
0,Young Thug,Hercules,100070,2024-06-27,2016-02-05,15979,100850.0,3065,6,1,True,50,15979,15387.0,15061.0,14665.0,12847.0,14473.0,15932.0,100850.0,103313.0,101589.0,100364.0,100669,104344.0
1,Young Thug,Hercules,100070,2024-06-20,2016-02-05,15343,103313.0,3058,6,1,True,50,15343,14816.0,14320.0,13438.0,12405.0,14523.0,16005.0,103313.0,101589.0,100364.0,103225.0,102646,100850.0
2,Young Thug,Hercules,100070,2024-06-13,2016-02-05,15999,101589.0,3051,6,1,True,50,15999,15412.0,15053.0,13938.0,12305.0,14530.0,16076.0,101589.0,100364.0,103225.0,103165.0,103858,103313.0
3,Young Thug,Hercules,100070,2024-06-06,2016-02-05,15357,100364.0,3044,6,1,True,50,15357,15191.0,14927.0,14039.0,12311.0,14205.0,15559.0,100364.0,103225.0,103165.0,103814.0,104343,101589.0
4,Young Thug,Hercules,100070,2024-05-30,2016-02-05,15457,103225.0,3037,6,1,True,50,15457,15049.0,14144.0,12212.0,12667.0,14507.0,16328.0,103225.0,103165.0,103814.0,108114.0,100850,100364.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213215,Don Toliver,Geeked Up (Feat. Yeat),244428207,2024-06-27,2024-06-24,147864,0.0,3,6,1,True,50,147864,211123.0,27787.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,943379,NaN
213216,Don Toliver,Rockstar Girl,244473425,2024-06-27,2024-06-24,82434,0.0,3,6,1,True,0,82434,121735.0,19893.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,253709,NaN
213217,Don Toliver,Love Is A Drug,244473426,2024-06-27,2024-06-24,114819,0.0,3,6,1,True,0,114819,153532.0,21610.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,510602,NaN
213218,Don Toliver,Donny Darko (Feat. Lil Uzi Vert),244473427,2024-06-27,2024-06-24,148913,0.0,3,6,1,True,46,148913,207022.0,31378.0,528.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,705091,NaN
213219,Nettspend Osamason,Withdrawals,244485674,2024-06-27,2024-06-26,76456,0.0,1,6,1,True,60,76456,42173.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,214343,NaN

In [8]:
df2.to_csv('../csv_files/four_week_data.csv', index=False)