In [136]:
from lr_rfr_streampredictions import *
import torch
from torch.optim import SGD
import torch.nn as nn
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math

ModuleNotFoundError: No module named 'lr_rfr_streampredictions'

In [129]:
data = pd.read_csv('../csv_files/four_week_data.csv')

In [130]:
data

,artist,title,unified_song_id,date,release_date,this_day,this_week,days_since_release,day_of_week,rn,...,day_13,day_14,day_15,day_16,day_17,day_18,day_19,day_20,target,naive
0,Gucci Mane,Gingerbread Man,91914,2021-12-22,2009-12-04,952,6066.0,4401,5,1,...,761.0,878.0,1022.0,948.0,935.0,907.0,877.0,768.0,5815,6039.0
1,Gucci Mane,Gingerbread Man,91914,2021-12-21,2009-12-04,850,6066.0,4400,4,1,...,878.0,1022.0,948.0,935.0,907.0,877.0,768.0,951.0,5815,6099.0
2,Gucci Mane,Gingerbread Man,91914,2021-07-31,2009-12-04,878,6363.0,4257,1,1,...,859.0,949.0,1061.0,1025.0,1036.0,984.0,899.0,811.0,6066,6424.0
3,Gucci Mane,Gingerbread Man,91914,2021-07-30,2009-12-04,1022,6363.0,4256,0,1,...,949.0,1061.0,1025.0,1036.0,984.0,899.0,811.0,979.0,6066,6362.0
4,Gucci Mane,Gingerbread Man,91914,2021-07-29,2009-12-04,948,6771.0,4255,6,1,...,1061.0,1025.0,1036.0,984.0,899.0,811.0,979.0,1054.0,6066,6587.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14567477,Tiesto & Lucas & Steve,ZENLESS,245214101,2024-07-06,2024-07-02,59943,61607.0,4,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159339,NaN
14567478,Tiesto & Lucas & Steve,ZENLESS,245214101,2024-07-05,2024-07-02,74695,61607.0,3,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159339,NaN
14567479,Tiesto & Lucas & Steve,ZENLESS,245214101,2024-07-04,2024-07-02,27206,NaN,2,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159339,NaN
14567480,Tiesto & Lucas & Steve,ZENLESS,245214101,2024-07-03,2024-07-02,15107,NaN,1,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195923,NaN
14567481,Tiesto & Lucas & Steve,ZENLESS,245214101,2024-07-02,2024-07-02,19281,NaN,0,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195923,NaN